In [2]:
from SPARQLWrapper import SPARQLWrapper, JSON, XML

In [29]:
sparql = SPARQLWrapper("http://dbpedia.org/sparql")

sparql.setQuery("""
select distinct(?film) ?f_name where {
?film rdf:type dbo:Film;
      rdfs:label ?f_name.
filter regex(?f_name,"love") 
}
group by ?film
limit 10
""")
sparql.setReturnFormat(JSON)
results = sparql.query().convert()

for result in results["results"]["bindings"]:
    print(result["film"]["value"],'#'*3,result['f_name']['value'])

http://dbpedia.org/resource/Dr._Strangelove ### Dr. Strangelove
http://dbpedia.org/resource/Dr._Strangelove ### Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
http://dbpedia.org/resource/Dr._Strangelove ### Doktor Strangelove, czyli jak przestałem się martwić i pokochałem bombę
http://dbpedia.org/resource/Inside_Daisy_Clover ### Daisy Clover
http://dbpedia.org/resource/The_Beloved_Bachelor ### The Beloved Bachelor
http://dbpedia.org/resource/10_Cloverfield_Lane ### 10 Cloverfield Lane
http://dbpedia.org/resource/The_Professor's_Beloved_Equation_(film) ### The Professor's Beloved Equation (film)
http://dbpedia.org/resource/Golden_Gloves_(1940_film) ### Golden Gloves (1940 film)
http://dbpedia.org/resource/The_Beloved_(1970_film) ### The Beloved (1970 film)
http://dbpedia.org/resource/The_Beloved_(1991_film) ### The Beloved (1991 film)

In [17]:
results

{'head': {'link': [], 'vars': ['film', 'f_name']},
 'results': {'bindings': [], 'distinct': False, 'ordered': True}}

In [88]:
y1 = 1
y2 = 2
y3 = 3

In [89]:
def selecty(string):
    return 'a{}'.format(string)

In [90]:
selecty(y3)

'a3'

In [91]:
import argparse

In [38]:
("""select distinct(?film) ?f_name
            where {
                ?film rdf:type dbo:Film;
                      rdfs:label ?f_name.
                filter regex(?f_name,%s)
            }
            group by ?film
            limit 10
""","jsdaklfj")

('select distinct(?film) ?f_name\n            where {\n                ?film rdf:type dbo:Film;\n                      rdfs:label ?f_name.\n                filter regex(?f_name,%s)\n            }\n            group by ?film\n            limit 10\n',
 'jsdaklfj')

In [32]:
'filter regex(?f_name, {})'.format("love")

'filter regex(?f_name, love)'

In [39]:
import jieba

In [50]:
seg_list = jieba.cut("我来到北京清华大学", cut_all=True)
print("Full Mode: " + "/ ".join(seg_list))  # 全模式

Full Mode: 我/ 来到/ 北京/ 清华/ 清华大学/ 华大/ 大学

In [51]:
print("Full Mode: " + "/".join(seg_list))

Full Mode:

In [1]:
queries_dict = dict()
queries_dict[2] = 'sdjafl'

In [11]:
print(list(queries_dict.values())[0])

sdjafl

In [13]:
input = 'loce'
"""select distinct ?publication ?p_name
            where {
                ?publication rdf:type dbo:%s;
                      rdfs:label ?p_name.
                filter regex(?p_name,"%s") 
            }
            group by ?publication
            limit 10
"""%(input,input)

'select distinct ?publication ?p_name\n            where {\n                ?publication rdf:type dbo:loce;\n                      rdfs:label ?p_name.\n                filter regex(?p_name,"loce") \n            }\n            group by ?publication\n            limit 10\n'